@media screen and (max-width: 922px) {
   
}

@media (max-width: 768px) {
    .popup {
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 480px) {
    .popup {
        width: 95%;
        height: 90%;
    }
}

@media screen and (max-width: 576px) {
   
}
@media screen and (max-width: 450px) {
    
}